.idea/
*.iml

build/
**/build
out/
**/out
/captures
**/kotlin-js-store

.gradle

/local.properties

/data/


.DS_Store
.externalNativeBuild

# Xcode
xcuserdata/
*.xcworkspace

*.ipa
*.dSYM.zip
*.dSYM

